<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="admin-container mat-elevation-z4" *ngIf="!isLoading">



        <div class="header-title">
          Registered users ({{users.length}})
        </div>
        <ng2-smart-table [settings]="settings" [source]="users"></ng2-smart-table>

        <div class="topic-buttons">
          <button md-button color="accent" (click)="getTopics()" *ngIf="!isEditing"> 
            EDIT TOPICS
          </button>
          <button md-button color="accent" (click)="close_editing()" *ngIf="isEditing"> 
            CLOSE TOPIC EDITING
          </button>
        </div>
</div>
<div class="admin-container mat-elevation-z4" *ngIf="isEditing">
  <div class="header-title">Available Topics ({{topics.length}})</div>
        <div *ngIf="isEditing" class="sortable-container" dnd-sortable-container [sortableData]="topics">
          <div class="editBox" *ngFor="let topic of topics; let i = index" dnd-sortable [sortableIndex]="i" [dragData]="topic">
            {{topic.title}}
            <div>
              <button md-button color="accent" class="topic-button" (click)="open_edit(topic)"> 
                  <i class="material-icons">edit</i>
              </button>
              <button md-button color="accent" class="topic-button" (click)="deleteTopic(topic)"> 
                  <i class="material-icons">delete</i>
             </button>
            </div>
          </div>
  </div>
</div>
                                        