<app-loading [condition]="isLoading"></app-loading>

<div class="button-bar">
          <button md-button color="accent" (click)="open_editing('user')" *ngIf="!isEditing_users">
            EDIT USERS
          </button>
          <button md-button color="accent" (click)="close_editing('user')" *ngIf="isEditing_users">
            CLOSE USER EDITING
          </button>
          <button md-button color="accent" (click)="open_editing('topic')" *ngIf="!isEditing_topics">
            EDIT TOPICS
          </button>
          <button md-button color="accent" (click)="close_editing('topic')" *ngIf="isEditing_topics">
            CLOSE TOPIC EDITING
          </button>
</div>

<div class="admin-container mat-elevation-z4" *ngIf="isEditing_users">
    <md-toolbar style="background:white; display: block; overflow: auto">Registered users ({{users.length}})</md-toolbar>
    <input #search class="search-bar" type="text" placeholder="Search..." (keyup)="onSearch(search.value)" style="margin: 10px">
    <div style="width:100%; overflow: auto; display:block; margin-bottom: 20px;">
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" class="smart-table"></ng2-smart-table>
    </div>
</div>

<div class="admin-container mat-elevation-z4" *ngIf="isEditing_topics">
  <md-toolbar style="background:white">Available Topics ({{topics.length}})</md-toolbar>
        <input style="margin-bottom: 20px;" type="text" class="search-bar" placeholder="Search Topics.." #topicFilter (keyup)="0"/>
        <div *ngIf="isEditing_topics" class="sortable-container" dnd-sortable-container [sortableData]="topics">
          <div class="editBox" *ngFor="let topic of topics | searchPipe: topicFilter.value">
            {{topic.title}}
            <div>
              <button md-button color="accent" class="topic-button" (click)="open_edit_topic(topic)">
                  <i class="material-icons">edit</i>
              </button>
              <button md-button color="accent" class="topic-button" (click)="deleteTopic(topic)">
                  <i class="material-icons">delete</i>
             </button>
            </div>
          </div>
  </div>
</div>
