

.admin-container {
  margin: 25px 50px;
  display: flex;
  flex-direction: column;
}

.smart-table{
  margin-bottom: 30px;
  width: 100% !important;
}

.editBox{
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}

.sortable-container{
  padding: 0px 10px;
}

td{
  padding: 20px;
}

.button-bar{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.topic-button{
  padding: 0 !important;
}

.header-title{
  width: 100%;
  margin: 30px 0 0 0;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.search-bar{
  margin: 4px 4px 0 20px;
  width: 257px;
  max-width: 70%;
  height: 28px;
  font-size: 15px;
  padding-left: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.material-icons.red600 {
  color: #e53935;
}
