<div class="single-topic" *ngIf="!isLoading_singleTopic">

  <div class="image-card-center">
    <md-card class="image-card">
      <img class="article-picture" src="{{topic.image}}"/>
      <md-card-title-group class="single-topic-group">
        <md-card-title class="single-topic-headerline">
          {{topic.title}}
          <button md-icon-button (click)="selectSources()" color="primary">
            <md-icon class="md-24">edit</md-icon>
          </button>
        </md-card-title>
      </md-card-title-group>
    </md-card>
  </div>

  <div class="article-block">

      <md-card class="article-card" *ngFor="let article of currentArticles">
        <div class="source-position-logo">
          <img class="source-logo" src={{article.source.logoUrl}} />
        </div>
        <md-card-title-group>
          <md-card-title>
            {{article.title}}
          </md-card-title>
          <md-card-subtitle>
            {{article.description}}
          </md-card-subtitle>
        </md-card-title-group>

        <md-card-actions class="categories-row">
          <button md-raised-button class="category-button" (click)="visitExternalLink(article)">
            Read article
          </button>
        </md-card-actions>

      </md-card>


  </div>

</div>
