<div>

  <md-toolbar class="custom-toolbar">
    <button class="app-icon-button" style="background:none;border:none;padding: 0px 0px;" routerLink="/topics">
      <img src="../assets/img/logo_small.png" style="height:66px; margin:0px;"/>
    </button>

    <span class="fill-remaining-space"></span>
    <button md-button routerLink="/register" routerLinkActive="active" *ngIf="!auth.loggedIn" >Register</button>
    <button md-button routerLink="/login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</button>
    <button md-button routerLink="/admin" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
      <i class="material-icons">perm_identity</i>
    </button>
    <button md-button routerLink="/account" routerLinkActive="active" *ngIf="auth.loggedIn">
      Account
    </button>
    <button md-button routerLink="/logout" routerLinkActive="active" *ngIf="auth.loggedIn">
      <i class="material-icons">lock_outline</i>
    </button>
  </md-toolbar>

  <router-outlet></router-outlet>

</div>
