html {
  font-family: Roboto, sans-serif !important;
}

.app{
  font-family: Roboto, sans-serif !important;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.custom-toolbar{
  padding-left:0px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

.small-logo{
  height:66px;
  margin: 0px;
}

@media (max-width:600px){
  .small-logo{
    height: 58px;
    margin: 0px;
  }
}
.license-footer{
  width: 100%;
  text-align: center;
  font-size: small;
  border-top: 1px solid #ddd;
  justify-content: space-between !important;
  padding:0px 50px;
  display:flex;
}

.footer-sub{
  font-size: 12px;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
}


$font-family: Roboto;
