<app-loading [condition]="isLoading"></app-loading>

<!-- <app-toast [message]="toast.message"></app-toast> -->

<header class="header-content" color="primary" *ngIf="!auth.loggedIn">
  <img src="../assets/img/logo.png" class="main-logo" />
  <h2> Intelligent news comparison and structuring</h2>

  <div class="button-row">
    <button md-raised-button routerLink="/register" class="left-button-responsive" color="accent">
      Register
    </button>
    <button md-raised-button routerLink="/login" class="right-button-responsive">
      Log In
    </button>
  </div>
</header>

<md-toolbar class="categories-toolbar">
  <button md-button color="primary" (click)="getTopics_category('Home')">Home</button>
  <button *ngFor="let category of categoriesAvailable" md-button color="primary" (click)="getTopics_category(category)">{{category.name}}</button>
  <button md-button (click)="open_followCategories()">
      <i class="material-icons">edit</i>
  </button>
</md-toolbar>

<div *ngIf="userHasPreferences"> Your preferences: <button md-button *ngFor="let preference of userCategoryPreferences">{{preference.name}}</button></div>

<div class="card-block" *ngIf="!isLoading">

  <md-card class="topic-card" *ngFor="let topic of topics | filterCategories:userCategoryPreferences">
    <img md-card-image src="{{topic.image}}">
    <md-card-title-group>
      <md-card-title>
        <div>
          {{topic.title}}
          <p class="count mat-fab mat-primary" *ngIf="auth.loggedIn && auth.isAdmin">  {{topic.news_article_count}} </p>
        </div>
      </md-card-title>
      <md-card-subtitle>{{topic.location}}, {{topic.timestamp}}</md-card-subtitle>
    </md-card-title-group>

    <div class="categories-row">
      <button md-raised-button *ngFor="let category of topic.categories" (click)="getTopics_category(category)">
        {{category.name}}
      </button>
    </div>

    <md-card-actions *ngIf="auth.loggedIn && auth.isAdmin">
      <button md-raised-button color="primary" (click)="open_edit(topic)">
      <i class="material-icons">settings</i>  Edit Topic
      </button>
      <button md-raised-button color="warn" style="margin-left:10px; color: #fff;" (click)="deleteTopic(topic)">
        <i class="material-icons">delete</i> Delete
      </button>
    </md-card-actions>
  </md-card>

</div>



<div style="margin:50px 70px;" *ngIf="!isLoading">

  <table class="table table-bordered table-striped">
    <tbody *ngIf="topics.length === 0">
      <tr>
        <td colspan="4">There are no topics in the DB. Add a new topic below on the button.</td>
      </tr>
    </tbody>
  </table>

  <button md-fab *ngIf="auth.loggedIn && auth.isAdmin" (click)="open_add()" color="primary">
    <md-icon class="md-24">add</md-icon>
  </button>

</div>
<li *ngFor="let item of items"> {{item}} </li>
