a {
  text-decoration: none;
  color: inherit;
}


.count{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #f58287;
  color: #fff;
  margin: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-align: center;
  -webkit-box-pack: center;
      -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  line-height: 24px;
}

.categories-row{
  display: flex;
  margin:10px 0px 16px 0px;
}

.table td, .table th {
   text-align: center;
   width: 25%;
}

.card-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin: 0px 50px;
}

.topic-card {
	width: 300px;
	margin: 20px;
}

.header-content{
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
}

.main-logo{
  height:65px;
  margin-bottom: 10px;
}

.button-row{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
}

.categories-toolbar{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.left-button-responsive{
  color:#fff;
  margin-top: 15px;
}

.right-button-responsive{
  color:#F2545B;
  margin-top: 15px;
}

@media (max-width: 350px){
  h2{
    font-size: 18px;
    max-width: 80%;
  }
  .button-row{
    width: 100px;
    margin-top:10px;
    justify-content: center;
  }
  .main-logo{
    height: 45px;
  }
}
