.table td, .table th {
   text-align: center;
   width: 25%;
}

.card-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
  margin: 0px 50px;
}

.topic-card {
	width: 300px;
	margin: 20px;
}

.header-content{
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
}

.main-logo{
  height:65px;
  margin-bottom: 10px;
}

.button-row{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
}

.categories-toolbar{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.left-button-responsive{
  color:#fff;
  margin-top: 15px;
}

.right-button-responsive{
  color:#F2545B;
  margin-top: 15px;
}

@media (max-width: 350px){
  h2{
    font-size: 18px;
    max-width: 80%;
  }
  .button-row{
    width: 100px;
    margin-top:10px;
    justify-content: center;
  }
  .main-logo{
    height: 45px;
  }
}
