<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<header class="header-content" color="primary" *ngIf="!auth.loggedIn">
  <img src="../assets/img/logo.png" class="main-logo" />
  <h2> Intelligent news comparison and structuring</h2>
  <div class="button-row">
    <button md-raised-button routerLink="/register" color="accent" style="color:#fff">Register</button>
    <button md-raised-button routerLink="/login" style="color:#F2545B; margin-left: 20px;">Log In</button>
  </div>
</header>

<div class="card" *ngIf="!isLoading">
  <!-- <h4 class="card-header">Current Topics ({{topics.length}})</h4> -->

  <div class="card-block">

    <md-card class="topic-card" *ngFor="let topic of topics">
          <md-card-title-group>
            <md-card-title>{{topic.title}}</md-card-title>
            <md-card-subtitle>{{topic.location}}, {{topic.timestamp}}</md-card-subtitle>
          </md-card-title-group>

          <img md-card-image src="{{topic.image}}">

          <button *ngFor="let category of topic.categories" md-button>{{category}}</button>
          <p>Sources Available: {{topic.news_article_count}}</p>

          <md-card-actions>
            <p></p>
            <button class="btn btn-sm btn-warning" (click)="open_edit(topic)">Edit Topic</button>
            <button class="btn btn-sm btn-danger" (click)="deleteTopic(topic)"><i class="fa fa-trash"></i> Delete</button>

          </md-card-actions>
    </md-card>

    <table class="table table-bordered table-striped">
      <tbody *ngIf="topics.length === 0">
        <tr>
          <td colspan="4">There are no topics in the DB. Add a new topic below on the button.</td>
        </tr>
      </tbody>
    </table>


  </div>

  <button class="btn btn-sm btn-warning" (click)="open_add()">Add Topic</button>

</div>
