.register-container{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title{
  width: 85%;
  margin: 30px 0 10px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  text-align: center
}


.register-form{
  padding: 30px;  
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.checkboxes{
  display: flex;
  flex-direction: column;
}

.single_box{
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 5px 0;
  justify-content: space-between;
}

:host /deep/ .mat-checkbox-label{
    width: 400px;
}

:host /deep/ .mat-checkbox-inner-container {
  margin-right: 40px !important;
  margin-left: 10px;
}


.input-full-width{
  width: 100%;
}

.input-container{
  margin-bottom: 10px;
}

.special-input-wrapper{
  margin: 1em 0;
  padding-bottom: 6px;
}


.bottom-row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

md-error{
  font-family: Roboto;
  font-size: 12px;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: #F2545B;
}

a:hover{
  color: #F58287;
}

.follow-box{
  margin: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 5px;
}
