<div class="manipulation-form">
    <form class="form-inner" [formGroup]="addTopicForm" (ngSubmit)="dialogRef.close(addTopicForm)">
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="text" name="title" formControlName="title" placeholder="title">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="date" name="timestamp" formControlName="timestamp" placeholder="timestamp">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="text" name="image" formControlName="image" placeholder="assets/img/">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="number" name="news_article_count" formControlName="news_article_count" placeholder="News Article Count" step="any" min="0">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="text" name="location" formControlName="location" placeholder="location">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-select multiple class="input-full-width special-input-wrapper" name="topics" formControlName="categories" placeholder="Categories">
          <md-option *ngFor="let category of categoriesAvailable" value="{{ category._id }}">{{ category.name }}</md-option>
        </md-select>
      </div>
      <div class="bottom-row">
        <button md-raised-button color="primary" type="submit" [disabled]="!addTopicForm.valid"><md-icon>save</md-icon> Add</button>
        <button md-raised-button color="warn" type="button" (click)="dialogRef.close(false)"><md-icon>cancel</md-icon> Cancel</button>
      </div>
    </form>
</div>
