<div class="manipulation-form" style="font-family:Roboto; !important">
  <div class="header-title">Add Topic</div>
    <form class="form-inner" [formGroup]="addTopicForm" (ngSubmit)="submitTopic()">
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="text" name="title" formControlName="title" placeholder="title">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="date" name="timestamp" formControlName="timestamp" placeholder="timestamp">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="text" name="image" formControlName="image" placeholder="assets/img/">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="number" name="news_article_count" formControlName="news_article_count" placeholder="News Article Count" step="any" min="0">
        </md-input-container>
      </div>
      <div class="input-container">
        <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="text" name="location" formControlName="location" placeholder="location">
        </md-input-container>
      </div>
      <div class="input-container">
        <div>Categories:</div>
        <md-checkbox *ngFor="let category of categoriesMap" formControlName="categories" (change)="updateCheckedOptions(category, $event)" required>{{category.category.name}}</md-checkbox>
      </div>
      <div class="bottom-row">
        <button md-raised-button color="primary" type="submit" [disabled]="!addTopicForm.valid"><md-icon>save</md-icon> Add</button>
        <button md-raised-button color="warn" type="button" (click)="dialogRef.close(false)"><md-icon>cancel</md-icon> Cancel</button>
      </div>
    </form>
</div>
