<div class="manipulation-form">
  <h2>EDIT TOPIC</h2>
  <form class="form-inner" #form="ngForm" (ngSubmit)="dialogRef.close(dialog_topic)">
    <div class="input-container">
       <md-input-container class="input-full-width">
        <input mdInput class="input-full-width"  type="text" name="title" [(ngModel)]="dialog_topic.title" placeholder="Title" required>
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container class="input-full-width">
        <input mdInput class="input-full-width"  type="date" name="timestamp" [(ngModel)]="dialog_topic.timestamp" placeholder="timestamp" required>
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container class="input-full-width">
        <input mdInput class="input-full-width" type="text" name="image" [(ngModel)]="dialog_topic.image" placeholder="assets/img/" required>
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container class="input-full-width">
        <input mdInput class="input-full-width" type="number" name="news_article_count" [(ngModel)]="dialog_topic.news_article_count" placeholder="News Article Count" step="any" min="0" required>
      </md-input-container>
    </div>
    <div class="input-container">
      <md-input-container class="input-full-width">
        <input mdInput class="input-full-width" type="text" name="location" [(ngModel)]="dialog_topic.location"  placeholder="location" required>
      </md-input-container>
    </div>
    <div class="input-container">
        <md-select multiple name="topics" class="input-full-width special-input-wrapper" [(ngModel)]="dialog_topic.categories" placeholder="Categories">
          <md-option *ngFor="let category of categoriesAvailable" value="{{ category._id }}">{{ category.name }}</md-option>
        </md-select>
    </div>
    <div class="bottom-row">
      <button md-raised-button color="primary" type="submit" [disabled]="!form.form.valid"><md-icon>save</md-icon> Save</button>
      <button md-raised-button color="warn" type="button" (click)="dialogRef.close(false)"><md-icon>cancel</md-icon> Cancel</button>
    </div>
  </form>
</div>
