.selection-dialog{
  width: 45em;
  margin-top:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.header-title{
  width: 85%;
  margin: 30px 0 10px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  text-align: center
}
