.checkboxes{
  display: flex;
  flex-direction: column;
}

.single_box{
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 5px 0;
  justify-content: space-between;
  width: 400px;
}


:host /deep/ .mat-checkbox-label{
	width: 300px !important;
}


.button-bottom{
	margin: 20px 20px 0 20px;
	align-items: center;
  margin-top: 20px !important;
  float: right !important;
}

:host /deep/ .mat-checkbox-inner-container {
	margin-right: 40px;
	margin-left: 20px;
}
