<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="edit-form">
  <div class="form-inner">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <div class="input-container">
        <md-input-container class="input-full-width">
            <input mdInput class="input-full-width" type="text" name="name" [(ngModel)]="user.name" placeholder="Name" required>
        </md-input-container>
      </div>
      <div class="input-container">
      <md-input-container class="input-full-width">
          <input mdInput class="input-full-width" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </md-input-container>
      </div>
      <div class="input-container">
          <md-select name="role" class="input-full-width special-input-wrapper" [(ngModel)]="user.role" placeholder="Role">
            <md-option value="" disabled>Role</md-option>
            <md-option value="user">User</md-option>
            <md-option value="admin">Admin</md-option>
          </md-select>
      </div>
      <label> Your Preferences </label>
      <div>
        <md-checkbox *ngFor="let category of userCategoryPreferencesMap" [checked]="category.value" (change)="updateCheckedOptions(category, $event)">{{category.category.name}}</md-checkbox>
      </div>

      <div class="bottom-row">
        <button md-raised-button color="accent" style="color:#fff" type="submit" [disabled]="!accountForm.form.valid"> Save
      </button>
    </div>
      
    </form>
  </div>
</div>