<app-toast [message]="toast.message"></app-toast>

<div class="login-form">
  <form class="form-inner" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="input-container">
      <md-input-container class="input-full-width">
        <input mdInput class="input-full-width" type="email" name="email" formControlName="email" placeholder="Email" required>
      </md-input-container>
      <md-error *ngIf="email.dirty && email.invalid">
        Enter a valid email
      </md-error>
    </div>

    <div class="input-container">
      <md-input-container class="input-full-width">
        <input mdInput class="input-full-width" type="password" name="password" formControlName="password" placeholder="Password" required>
      </md-input-container>
      <md-error *ngIf="password.dirty && password.invalid">
        Enter correct password
      </md-error>
    </div>

    <div class="bottom-row">
      <div style="font-family:Roboto;">
        <a routerLink="/login">Forgot Password?</a>
      </div>
      <button md-raised-button color="accent" style="color:#fff" type="submit" [disabled]="!loginForm.valid">
          Log In
      </button>
    </div>

  </form>
</div>
